
  
  .Button:hover {
      box-shadow: 6px 6px 10px 0 rgba(4, 250, 4, 0.5);
      color: rgb(47, 161, 255);
  }
  
  
  
  
  .Button {
    background-color: #282c34;
    padding: 25px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } 
  
  
    
  
  
  
  
  