.box {
    margin-bottom: 2px 1px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
  }
    
   

.inputbox {
    padding: 3px;
    border-radius: 0.5rem 0 0 0.5rem;
    min-width: 200px;
    border: none;
    outline: none;
  }
  
  .buttonbox {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  