.player{
	font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
}

.player:hover {
	box-shadow: 6px 6px 10px 0 rgba(4, 250, 4, 0.5)
}

.player img {
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius : 8px;
	padding: 20px;
	margin-top : 20px;
    width : 100%;
	max-height: 300px;
	object-position: center;
	object-fit:cover;
}