@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


@media  screen and (max-width: 1000px) {
	#content,
	aside {
 	width: 100%;
	padding: 0;
   }
}
.App {
  text-align: center;
}

.playlist {
    text-align: center;
  }
  
  
.container {
  flex: auto;
  width: 50%;
}
  
  
  
  
  .playlist-card {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } 
  